* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#WHO-WE-ARE {
    background-color: #222;
}

#MAIN-SECTION {
    background-color: #222;
}

#COMERCIALIZATION {
    background-color: #444;
}

#COMERCIALIZATION #SHIPPING {
    text-decoration: underline;
}

#COMERCIALIZATION #PAYMENTS {
    text-decoration: underline;
}

#CATALOGUE {
    /*BACKGROUND GENERATED VIA ONLINE TOOL*/
    background: rgb(34, 34, 34);
    background: linear-gradient(180deg, rgba(34, 34, 34, 1) 0%, rgba(117, 0, 0, 1) 100%);
}

#INDEX-CATALOGUE-LIST {
    /*Removes the dots from the list*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalogue-section {
    padding: 1em;
}

.ITEM-BOX {
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    padding: 0.5em;
    margin: 0.5em;
    padding-bottom: 0;
}

.product-image {
    width: 15em;
    height: 15em;
    margin: 0 auto;
}

.product-name {
    background-color: #099;
    color: #000;
    font-size: 1.2em;
}

.price-div {
    background-color: #040;
    color: #090;
    font-size: 2em;
}

.product-features {
    text-align: justify;
    max-width: 23em;
    background-color: #f009;
    color: #fff;
    padding: 0 0.3em;
    margin: 0.5em 0;
    font-size: 1em;
}

.product-features p {
    display: inline;
    text-decoration: underline;
}

.product-critics {
    text-align: justify;
    color: #000;
    max-width: 23em;
    font-size: 1em;
}

.product-critics p {
    margin-left: 0.5em;
    display: inline;
    text-decoration: underline;
}

.buy-button {
    padding: 0.5em 0;
    background-color: #777;
    margin: 0.5em 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.buy-button:hover {
    background-color: #044;
    color: #0ff;
}

#toolbarContainer {
    display: none;
}


/*FOOTER CONFIGURATION*/
