*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#WHO-WE-ARE {
    background-color: #222;
}

#MAIN-SECTION {
    background-color: #222;
}

#COMERCIALIZATION {
    background-color: #444;
}

#COMERCIALIZATION #SHIPPING {
    text-decoration: underline;
}

#COMERCIALIZATION #PAYMENTS {
    text-decoration: underline;
}

#CATALOGUE {
    /*BACKGROUND GENERATED VIA ONLINE TOOL*/
    background: rgb(34, 34, 34);
    background: linear-gradient(180deg, rgba(34, 34, 34, 1) 0%, rgba(117, 0, 0, 1) 100%);
}

#INDEX-CATALOGUE-LIST {
    /*Removes the dots from the list*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*
.catalogue-section {
    /*padding: 1em;
}
*/

.ITEM-BOX {
    border-radius: 50%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 0.5em;
    margin: 0.5em;
}

.product-image {
    width: 15em;
    height: 15em;
    margin: 0 auto;
    margin-bottom: 1em;
}

#toolbarContainer {
    display: none;
}

/*FOOTER CONFIGURATION*/
