/*ESTA HOJA DE ESTILOS CONTIENE CONFIGURACIONES PERSONALIZADAS PARA LA PAGINA PRINCIPAL.HTML, LAS CUALES NO PUEDEN SER MODIFICADAS A TRAVES DE BOOTSTRAP*/

#WHO-WE-ARE{
    background-color: #222;
}

#MAIN-SECTION {
    background-color: #222;
}

#COMERCIALIZATION {
    background-color: #444;
}

#COMERCIALIZATION #SHIPPING {
    text-decoration: underline;
}

#COMERCIALIZATION #PAYMENTS {
    text-decoration: underline;
}

#CATALOGUE {
    /*BACKGROUND GENERATED VIA ONLINE TOOL*/
    background: rgb(34,34,34);
background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(117,0,0,1) 100%);
}
